---<%
{
	layout: :page,
	title: "Tangible work by Rachael Kalicun",
	description: "A collection of the work Rachael Kalicun does away from the keyboard, including cooking and DIY.",
	permalink: "/tangible-work/"
}
%>---

<div class="mx-auto my-0 p-[20px] pb-[24px]">
	<h2 class="mt-0 alt_font text-3xl">Tangible Work</h2>
	<% collections.tangible_works.each do |tangible| %>
		<div class="mb-10">
			<div class="post-date"><%= tangible.data.date.to_date.strftime("%B %d, %Y") %></div>
			<div class="mt-0 mb-0">
				<h3 class="post-title"><a href="<%= tangible.relative_url %>"><%= tangible.data.title %></a></h3>
				<p><%= tangible.data.summary %></p>
			</div>
		</div>
	<% end %>
</div>
