---<%
{
	layout: :page,
	title: "Tangible work by Rachael Kalicun",
	description: "A collection of the work Rachael Kalicun does with her hands, including cooking and DIY.",
	permalink: "/tangible-work/"
}
%>---

<div class="mx-auto my-0 bg-white p-[20px] sm:p-[40px] pb-[24px]">
	<h2 class="mt-0">Tangible work</h2>
	<% collections.tangible_works.each do |tangible| %>
		<div class="mb-[16px]">
			<div class="text-[10px] text-[#959595] font-medium"><%= tangible.data.date.to_date.strftime("%B %d, %Y") %></div>
			<div class="mt-0 mb-0">
				<a class="" href="<%= tangible.relative_url %>"><%= tangible.data.title %></a>
				<p class=""><%= tangible.data.summary %></p>
			</div>
		</div>
	<% end %>
</div>
