<header class="w-full justify-between">
	<div class="pt-3">
		<a href="/">
			<img class="w-[60px] mx-auto my-0 rounded-full border-2 border-white inline-block" src="<%= relative_url '/images/rachael.jpg' %>" alt="Logo" />
		</a>
	</div>
	<% if @resource == 'Home' %>
		<h1 class="mb-2 text-xl alt_font"><a href="/">Rachael Kalicun</a></h1>
	<% else %>
		<div class="mb-2 text-xl alt_font"><a href="/">Rachael Kalicun</a></div>
	<% end %>
	<div class="nav-holder">
		<ul class="flex mb-0 justify-between items-center">
			<li class="text-sm">
				<a href="/blog/">Blog Posts</a>
			</li>
			<li class="text-sm">
				<a href="/tangible-work/">Tangible Work</a>
			</li>
			<li class="text-sm">
				<a href="/today-i-learned/">Today I Learned</a>
			</li>
			<li class="text-sm">
				<a href="<%= @current_sprint_url %>">This Week</a>
			</li>
		</ul>
	</div>
</header>
