<header class="w-full">
  <div class="">
    <img class="w-[75px] mx-auto my-0 rounded-full border-2 border-white" src="<%= relative_url '/images/rachael.jpg' %>" alt="Logo" />
    <div class="text-sm">The musings of Rachael Kalicun</div>
  </div>
</header>
